*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.wrapper {
  width: 89%;
  margin: 0 auto;
  position: relative;
}

.top-nav {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.top-nav img {
  width: 100%;
  max-width: 30%;
  object-fit: contain;
}

.top-nav ul {
  display: flex;
  align-items: center;
}
.top-nav ul li,
.footer-nav ul li {
  list-style: none;
  margin-right: 2rem;
}

.top-nav ul li a {
  text-decoration: none;
  font-size: 1.67vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #4a455c;
}

.space-nav li:first-child > a {
  margin-left: 10rem;
}

.space-nav li:last-child {
  margin-right: 0;
}

.hero-main-container {
  position: relative;
}

.hero-image {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0 78%);
}

.hero-container {
  position: absolute;
  background-color: #d64c31;
  width: 70%;
  right: 0;
  padding: 5rem;
  padding-right: 16rem;
  bottom: 0;
}

.hero-container h1 {
  font-size: 11.5rem;
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
}

.hero-container p {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  line-height: 4rem;
}

.block-wrapper {
  width: 100%;
  position: relative;
}

section h2 {
  font-size: 11rem;
  font-family: "Cormorant Garamond", serif;
  color: #4a455c;
  font-weight: 500;
  padding-bottom: 4rem;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
  row-gap: 5rem;
  grid-template-areas:
    "column-1 column-2 column-3"
    "column-4 column-4 column-3";
}

.blog-grid img,
.blog-grid-related img {
  width: 100%;
}
.blog-item-1 {
  grid-area: column-1;
}
.blog-item-2 {
  grid-area: column-2;
}
.blog-item-3 {
  /* grid-row-end: span 2; */
  grid-area: column-3;
}

.blog-item-4 {
  /* grid-column-end: span 2; */
  background-color: #4a455c;
  grid-area: column-4;
}

.blog-item img {
  /*grid-row-end: span 2;*/
  width: 100%;
}

.blog-date {
  color: #fff0e7;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.blog-grid h3 {
  font-size: 4.5rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.blog-item {
  background-color: #4a455c;
}

.blog-grid p {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 400;
}

.blog-grid button {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  background-color: #d64c31;
  border: none;
  color: #ffffff;
  padding: 1.5rem;
  margin-top: 3rem;
  font-weight: 500;
}

.blog-text-content {
  padding: 4rem;
}

.blog-text-content h3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.blog-text-content .aside-about {
  color: #fff0e7;
  padding-top: 0;
}
.blog-description {
  line-height: 3.5rem;
}

.about-content {
  background-color: #7c7d98;
}

.related-posts {
  background-color: #fff0e7;
  padding-bottom: 14rem;
  padding-top: 3rem;
  margin-top: 6rem;
}

.blog-grid-related {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
  grid-template-areas: " related-column-1 related-column-2 related-column-3";
}

.related-item-1 {
  grid-area: related-column-1;
}

.related-item-2 {
  grid-area: related-column-2;
}

.related-item-3 {
  grid-area: related-column-3;
}

.related-content {
  padding: 4rem;
}

.related-content h3 {
  color: #d64c31;
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
}

.related-content p {
  color: #4a455c;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.related-content button {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #d64c31;
  background-color: #ffffff;
  color: #4a455c;
  padding: 1.5rem;
  margin-top: 3rem;
  font-weight: 500;
}

.related-item {
  background-color: #ffffff;
}

.related-description {
  line-height: 3.5rem;
}

footer {
  background-color: #d64c31;
}

.footer-content h3 {
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.footer-content p {
  font-size: 2rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 50%;
  line-height: 3.5rem;
}

footer img {
  width: 100%;
  max-width: 14%;
  object-fit: contain;
}

.footer-nav ul li a {
  text-decoration: none;
  font-size: 2.3vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.footer-copyright {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #ffffff;
}

.mailing-list-container {
  position: absolute;
  background-color: #4a455c;
  right: 0;
  padding: 3rem;
  padding-top: 8rem;
  bottom: 0;
  width: 40vw;
}

.mailing-list-container h3 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
}

.mailing-list-container p {
  font-size: 2rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 3.5rem;
  margin-top: 3rem;
}

input {
  display: flex;
  padding: 1.2rem;
  border-radius: 6px;
  border: none;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  max-width: 78%;
}

.email-content {
  color: lightgray;
  margin-top: 8%;
}

.submit-content {
  background-color: #fff0e7;
  margin-top: 2rem;
}

.fab {
  color: #ffffff;
  font-size: 3rem;
  margin-right: 2rem;
}

.footer-content {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.icons {
  margin-top: 2rem;
}

.footer-nav ul {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.blog {
  margin-top: 7rem;
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  .hero-container {
    padding-right: 13rem;
  }

  .hero-container h1 {
    font-size: 8rem;
  }

  .hero-container p {
    font-size: 1.5rem;
  }

  .blog-grid {
    column-gap: 4rem;
    row-gap: 4rem;
  }

  .blog-grid-related {
    column-gap: 4rem;
  }

  .blog-grid button,
  .related-content button {
    font-size: 2rem;
  }

  .blog-grid p {
    font-size: 1.5rem;
  }

  .related-content p {
    font-size: 1.5rem;
  }

  .blog-grid h3 {
    font-size: 4rem;
  }

  .related-content h3 {
    font-size: 4rem;
  }

  .footer-content h3 {
    font-size: 2rem;
  }

  .footer-content p {
    font-size: 1.5rem;
  }

  section h2 {
    font-size: 8rem;
    padding-bottom: 3rem;
  }

  .blog {
    margin-top: 6rem;
  }

  .mailing-list-container h3 {
    font-size: 2.5rem;
  }

  .mailing-list-container p {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  input {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .fab {
    font-size: 2.5rem;
  }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
  .hero-container {
    padding-right: 13rem;
    padding: 4rem;
  }

  .hero-container h1 {
    font-size: 5rem;
  }

  .hero-container p {
    font-size: 1.2rem;
  }

  .blog-description,
  .related-description {
    line-height: 3rem;
  }

  .blog-item-4 {
    line-height: 3rem;
  }

  .blog-grid {
    column-gap: 3.5rem;
    row-gap: 3.5rem;
  }

  .blog-grid-related {
    column-gap: 3.5rem;
  }

  .blog-grid p,
  .related-content p {
    font-size: 1rem;
  }

  .blog-grid h3,
  .related-content h3 {
    font-size: 3rem;
  }

  section h2 {
    font-size: 7rem;
    padding-bottom: 2rem;
  }

  .blog {
    margin-top: 5rem;
  }

  .blog-grid button,
  .related-content button {
    font-size: 1.5rem;
  }

  .mailing-list-container h3 {
    font-size: 1.95rem;
  }

  .email-content {
    margin-top: 9%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .hero-container {
    padding-right: 11rem;
    padding: 3rem;
  }

  .hero-container h1 {
    font-size: 3rem;
  }

  .hero-container p {
    font-size: 1rem;
    line-height: 3rem;
  }
  .blog-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
    grid-template-areas:
      "column-1 column-2"
      "column-4 column-3"
      ". column-3";
  }

  .blog-grid-related {
    column-gap: 3rem;
    row-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "related-column-1 related-column-2"
      "related-column-3 .";
  }

  section h2 {
    font-size: 6rem;
    padding-bottom: 1rem;
  }

  .blog {
    margin-top: 4rem;
  }

  .mailing-list-container h3 {
    font-size: 1.5rem;
  }

  input {
    font-size: 1rem;
  }

  .fab {
    font-size: 2rem;
  }

  .footer-nav ul {
    display: inline-block;
  }
  .footer-nav ul li {
    padding-bottom: 1rem;
    margin-right: 0;
  }

  .footer-nav ul li a {
    font-size: 2.5vw;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .hero-container {
    padding-right: 3rem;
    padding: 2rem;
  }

  .hero-container h1 {
    font-size: 2rem;
  }

  .hero-container p {
    line-height: 1.5rem;
  }

  .blog-grid {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    grid-template-areas:
      "column-1"
      "column-2"
      "column-4"
      "column-3";
  }

  .blog-grid-related {
    row-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "related-column-1"
      "related-column-2"
      "related-column-3";
  }

  section h2 {
    font-size: 5rem;
    padding-bottom: 1rem;
  }

  .blog {
    margin-top: 3rem;
  }

  .mailing-list-container h3 {
    font-size: 1rem;
  }

  .mailing-list-container p {
    font-size: 1rem;
  }

  .fab {
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }

  .fa-github {
    margin-right: 0;
  }

  .footer-content p {
    font-size: 1.2rem;
  }

  .footer-content h3 {
    font-size: 1.25rem;
  }

  input {
    font-size: 1rem;
  }

  .footer-nav ul li a {
    font-size: 4.2vw;
  }
  .mailing-list-container {
    padding: 2rem;
  }

  .footer-content p {
    line-height: 2.5rem;
  }
}
